[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
[submodule "themes/hugo-theme-bleak"]
	path = themes/hugo-theme-bleak
	url = https://github.com/zenithar/hugo-theme-bleak
[submodule "themes/hugo-paper"]
	path = themes/hugo-paper
	url = https://github.com/nanxiaobei/hugo-paper
