</main>
<footer class="footer">
  <span>&copy; {{ now.Year }} {{ .Site.Title }}</span>
  <span>&middot;</span>
  <span><a href="https://github.com/saulecabrera" target="_blank">@saulecabrera on GitHub</a></span>
  <span>&middot;</span>
  <span><a href="https://twitter.com/saulecabrera" target="_blank">@saulecabrera on Twitter</a></span>
  <span>&middot;</span>
</footer>
<script src="{{.Site.BaseURL}}js/instantclick.min.js" data-no-instant></script>
<script data-no-instant>InstantClick.init();</script>

<script data-no-instant>
  addMenuListener();
  InstantClick.on('change', function() {
    addMenuListener();
  });
  function addMenuListener() {
    var $toggle = document.querySelector('.menu-toggle');
    var $body = document.querySelector('body');
    $toggle.addEventListener('click', function() {
      $body.classList.toggle('noscroll');
    }, false);
  }
</script>
</body>
</html>
